.ButtonArea-body{
    width: 100%;
    background-color: white;
    opacity: 0.9;
    position: relative;
    display: flex;
    top: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

