/* App.css or a specific component's CSS */
.gameContainer {
    /* Adjust these properties as necessary */
    height: 100%; /* or other appropriate size */
    background-size: cover; /* to cover the entire container */
    background-position: center; /* to center the image */
    background-repeat: no-repeat; /* to avoid repeating the image */
  }

.messageContainer {
  height: 200px; /* or other appropriate size */
  background-color: white;
  padding: 10px;
  opacity: 0.9;
  position: relative;
  top: 500px;
  z-index: 100;
}



